/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.archive h1.page-title,
.archive .hentry {
  border-bottom: 1px dotted white;
  padding-bottom: 20px;
}

.search .site-content .page-title,
.search .hentry {
  border-bottom: 1px dotted white;
  padding-bottom: 20px;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}
