/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include form-format;

  &:hover {
    color: $color__link-hover;
    border-color: $color__link-hover;
  }

  &:active,
  &:focus {
    border-color: $color__link-hover;
    outline: none;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  @include form-format;

  &:focus {
    color: white;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 9.5px;
}

textarea {
  @include form-format;
  width: 50vw;
  text-align: start;
}
