/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

html,
body {
  background-color: #222;
}

.home .entry-content,
.blog .entry-content,
.single .entry-content,
.archive .entry-content,
.page .type-page .entry-content,
.entry-meta {
  padding-bottom: 25px;
  @include desktop {
    p,
    h2,
    .source {
      font-size: 2.5rem !important;
    }
  }
  @include tablet {
    p,
    h2,
    .source {
      font-size: 1.75rem;
    }
  }
}

@include desktop {
  .button-submission {
    display: flex;
    justify-content: center;
  }
}

body {
  .container {
    margin: 0 auto;
    max-width: 1080px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #222222;
  }
}

.site-branding {
  padding-top: 30px;
  padding-bottom: 0px;
  width: 100%;

  a {
    img {
      width: 300px;
      @include tablet {
        width: 500px;
      }
      @include desktop {
        width: 700px;
        @include center-block;
      }
    }
  }
}

.site-main .button {
  @include desktop {
    width: 700px;
    margin: 0 auto;
    @include center-block;
  }
}

.site-info {
  padding-bottom: 50px;
  p {
    min-width: 60px;
  }
}

.nav-previous {
  display: none;
}

.home .page {
  background-color: #222;
  .site {
    width: 100%;
  }

  html {
    letter-spacing: 1.5rem;
    font-size: 16px;
  }
}

.site-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #222222;
  font-family: $font__main;
  padding-left: 25px;
  padding-right: 25px;
}

.site-branding,
.site-info {
  background-color: #222222;
}

.site-info .menu {
  ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding-left: 0;
  }
  li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
  }
}

.site-description {
  margin: 0 auto;
  p {
    display: none;
  }
}

p,
h2,
.post-type .post .button {
  color: #fff;
  font-family: $font__main;
  font-size: 1rem;
  line-height: 1.5;
  :focus {
    outline: none;
  }
}

.content-area {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: #fff;
  font-family: $font__main;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #222;
}

.quote-submission {
  width: 70vw;
  @include tablet {
    width: 60vw;
  }
  @include desktop {
    width: 50vw;
  }

  p {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #222;
    color: white;
    font-family: Exo, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px;
    margin: 0, 0, 25px, 0;
  }
}

.page .quote-submission-wrapper p label {
  padding-bottom: 10px;
}

@include desktop {
  .content-area {
    &::before {
      @include quote-icons;
      padding-right: 25px;
      content: '\f10d';
    }
    &::after {
      @include quote-icons;

      padding-left: 25px;
      content: '\f10e';
    }
  }
}
/* About Page */

.page .type-page .entry-content p {
  margin: 0;
}

.page .type-page .entry-content p {
  @include tablet {
    font-size: 1.25rem !important;
  }
  @include desktop {
    font-size: 1.5rem !important;
  }
}

/* Page Archives */

.post-archives,
.category-archives,
.tag-archives {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 0px;
    margin-left: 0px;
  }
  li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.archive .entry-content p {
  @include tablet {
    font-size: 1.5rem !important;
  }
  @include desktop {
    font-size: 2rem !important;
  }
}
.page .post-archives ul li,
.page .category-archives ul li,
.page .tag-archives ul li {
  // padding-bottom: 25px;
  @include tablet {
    p,
    a,
    h2,
    .source {
      font-size: 1.5rem !important;
    }
  }
  @include desktop {
    p,
    a,
    h2,
    .source {
      font-size: 2rem !important;
    }
  }
}

.page .post-archives h2,
.page .tag-archives h2,
.page .category-archives h2 {
  @include tablet {
    font-size: 1.5rem !important;
  }
  @include desktop {
    font-size: 2rem !important;
  }
}

/* Submit a Quote Page */

.page .entry-header .entry-title {
  padding-top: 25px;
}

.page .button-container {
  padding: 20px;
}
